<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Character Sheet</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.min.css" />
  </head>

  <body>
    <div id="app">
      <div class="">
        <b-card>
          <div class="form-group">
            <label for="input-live">Name:</label>
            <b-form-input
              v-model="name"
              placeholder="Enter your name"
            ></b-form-input>
          </div>

          <div class="form-group">{{ race.name }} {{ class_type.name }}</div>
          <div class="form-group">Movement Speed: {{ speed }}</div>
          <div class="form-group">Armor Class: {{ armorclasstotal }}</div>
          <div class="form-group">
            Weight Carried: {{ weightcarried }} of {{ weight_max }} ({{
              encumbered
            }})
          </div>
          <h5>Attributes</h5>
          <div class="row">
            <div class="col-md-2" v-for="(attribute, index) in attributes">
              <div class="card">
                <div class="card-header">
                  <b-form-input
                    v-model="attribute"
                    placeholder="index"
                    @blur.native="updateAttribute(index,attribute)"
                    lazy-formatter
                  ></b-form-input>
                </div>
                <div class="card-body small">{{ index }}</div>
              </div>
            </div>
          </div>

          <div class="col" v-for="(item, index) in hands">
            <div class="card-body" v-if="equipment[index].damage !== null">
              Weapon: {{ equipment[index].name }} Damage:
              {{ equipment[index].damage[0] }}d{{
                equipment[index].damage[1]
              }}
              +{{ attributes.strength }}
            </div>
          </div>
        </b-card>
      </div>
    </div>
    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap-vue.min.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          name: "Character Name",
          age: "12",
          speed: 120,
          experience: 0,
          level: 1,
          attributes: {
            strength: 4,
            dexterity: 0,
            constitution: 0,
            intelligence: 0,
            wisdom: 0,
            charisma: 0
          },
          armorclass: 10,
          heroics: 3,
          attack: 0,
          hitpoints: {
            total: 10,
            current: 0
          },
          hands: [0, 1],
          armor: 2,
          equipment: [
            {
              name: "Sword",
              hitbonus: 0,
              type: "slashing",
              damage: [1, 8],
              weight: 30,
              acbonus: 0
            },
            {
              name: "Shield",
              hitbonus: 0,
              type: "none",
              damage: null,
              weight: 10,
              acbonus: 1
            },
            {
              id: 4,
              name: "Chainmail",
              acbonus: 3,
              weight: 30
            }
          ],
          race: {
            name: "Human",
            attribute_max: 7,
            speed: 120
          },
          class_type: {
            name: "Cavalier",
            hitdice: "d10"
          }
        },
        computed: {
          weightcarried: function() {
            if (this.equipment.length === 0) {
              return 0;
            } else {
              // Loop through this.equipment and return the total of the weight
              let total = 0;
              // for (item in this.equipment) {
              this.equipment.forEach(function(item) {
                total = total + item.weight;
              });
              return total;
            }
          },
          weight_max: function() {
            return (this.attributes.strength + 4) * 25;
          },
          encumbered: function() {
            if (this.weightcarried >= this.weight_max / 2) {
              this.speed = this.race.speed / 2;

              if (this.weightcarried > this.weight_max) {
                this.speed = 0;
                return "immobile";
              } else {
                return "encumbered";
              }
            } else {
              this.speed = this.race.speed;
              return "unencumbered";
            }
          },
          armorclasstotal: function() {
            let base = this.armorclass + this.attributes.dexterity;

            if (this.armor !== "") {
              base = base + this.equipment[this.armor].acbonus;
            }

            for (item in this.hands) {
              base = base + this.equipment[item].acbonus;
            }

            if (
              this.armor.acbonus !== undefined &&
              this.armor.acbonus !== null
            ) {
              base = base + this.armor.acbonus;
            }

            return base;
          },
          notice: function() {
            return this.attributes.wisdom + 10;
          }
        },
        methods: {
          updateAttribute: function(index, newvalue) {
            switch (index) {
              case "strength":
                this.attributes.strength = newvalue * 1;
                break;
              case "dexterity":
                this.attributes.dexterity = newvalue * 1;
                break;
              case "intelligence":
                this.attributes.intelligence = newvalue * 1;
                break;
              case "wisdom":
                this.attributes.wisdom = newvalue * 1;
                break;
              case "constitution":
                this.attributes.constitution = newvalue * 1;
                break;
              case "charisma":
                this.attributes.charisma = newvalue * 1;
                break;
            }

            // = newvalue;
          },
          doAttack: function() {
            let roll20 = Math.ceil(Math.random() * 20);

            if (roll20 === 20) {
              console.log("Natural 20 Bitches!");
            }

            if (roll20 === 1) {
              console.log("Fumbled Roll");
            }

            let roll =
              roll20 + this.attributes.strength + this.hands.dominant.hitbonus;
            console.log(roll);

            let damage =
              Math.floor(
                Math.random() *
                  (this.hands.dominant.damage[1] *
                    this.hands.dominant.damage[0])
              ) + this.hands.dominant.damage[0];

            // Math.ceil(Math.random() * ((this.weapons.primary.damage[1]*this.weapons.primary.damage[0])))=`
            console.log(
              "Damage with " + this.hands.dominant.name + ": " + damage
            );
          }
        }
      });
    </script>
  </body>
</html>
